/*===============

Universal

================*/


* {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.47;
	color: dimgray;
}

body {
	background-color: #F5F3EE;
}

/*===============

General

================*/

#video-player {
	width: 100%;
	max-width: 977px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;

}

video {
	width: 100%;
	display: block;
	margin: 0 auto;
}

#videocontrols {
	width: 100%;
	margin: -52.5px auto 0;
	background-color: black;
	opacity: 0.3;
	padding: 15px 0;
}



#transcript {
	width: 90%;
	/* I want to prevent the text from being hard for the eyes to read, with to long lines - using a max-width*/
	max-width: 890px;
	margin-right: auto;
	margin-left: auto;
}

span {
	color: #ffa500;
}





