/*===============

Universal

================*/


* {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.47;
	color: dimgray;
}



/*===============

General

================*/

video {
	width: 100%;
	max-width: 977px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#textwrapper {
	width: 90%;
	/* I want to prevent the text from being hard for the eyes to read, with to long lines - using a max-width*/
	max-width: 890px;
	margin-right: auto;
	margin-left: auto;
}

span {
	color: #ffa500;
}








