/*===============

Universal

================*/


* {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.47;
	color: dimgray;
}

body {
	background-color: #F5F3EE;
}

/*===============

General

================*/

#video-player {
	width: 100%;
	max-width: 977px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

video {
	width: 100%;
	display: block;
	margin: 0 auto;
}

#videocontrols {
	width: 100%;
	margin: -65px auto 0;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	z-index: 2;
	padding: 10px 0 0;
}

#play,
#progressBar,
#videocontrols p,
#videocontrols span,
#volumeControl  {
	display: inline-block;
}

#play,
#fullscreen,
#volumeControl,
#rewind10,
#forward10,
#CC {
	border: none;
    width: 22px;
    height: 26px;
    cursor: pointer;
    outline: none;
    background-size: cover;     
    background-position: center;
}

#play {
	background:url(../icons/play-icon.png);
	margin-left: 20px;
}

#progressbar {
	width: 100%;
	float: left;
	margin-top: -65px;
	-webkit-appearance: none;
	height: 4px;
	outline: none;
	background-color: rgba(0,	0, 0, 0.4);
}

#volumeControl {
	background: url(../icons/volume-on-icon.png);
	float: right;
	margin-right: 60px;
	margin-top: -40px;
	background-repeat: no-repeat;
}



#volumeRange {
	width: 10%;
	float: right;
	margin-right: 85px;
	margin-top: -32.5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #ffa500;
	height: 5px;
	border-radius: 3px;
	display: none;
	outline: none;
	padding: 0;
}


#currentTime {
	margin-left: 35px;
}

#totalTime,
#currentTime {
	font-size: 13px;
	color: white;
}


/* Had to repeat myself a lot here.. but everything broke when I tried to DRY it up a bit.. so will have to get back here later! to "perfect" */

#rewind10 {
	background: url(../icons/rewind.png);
	background-size: cover;
	height: 30px;
	width: 25px;
	margin-left: 30px;
}

#forward10 {
	background: url(../icons/forward.png);
	background-size: cover;
	height: 30px;
	width: 25px;
}

#CC {
	background: url(../icons/caption.png);
	background-size: cover;
	height: 30px;
	width: 25px;
}

#fullscreen {
	float: right;
	margin-right: 20px;
	margin-top: -40px;
	background: url(../icons/fullscreen-icon.png);
	background-repeat: no-repeat;

}


#transcript {
	width: 90%;
	/* I want to prevent the text from being hard for the eyes to read, with to long lines - using a max-width*/
	max-width: 890px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.transcriptActive {
	color: #ffa500;
}

#progressMeter {
	width: 0%;
	background-color: #faa500;
	float: left;
	margin-top: -65px;
	height: 4px;
}


#bufferMeter {
	width: 0%;
	background-color: rgba(201, 201, 201, 0.3);
	float: left;
	margin-top: -65px;
	height: 4px;
}

#progressbar::-moz-range-thumb {
  visibility: hidden;
}

#progressbar::-webkit-slider-thumb {
	visibility: hidden;
}

#progressbar::-ms-thumb {
	visibility: hidden;
}



